@import "variables";
@import "reset";
@import "components/app";
@import "components/content-table";
@import "components/select-type";
@import "components/content";
@import "vendor/tiny-mde.scss";

h1 {
    font-size: min(3.6em, 10vw);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pull-right {
    float: right;
}