.container {
    padding: 1.5em;
    margin: 0 auto;
    max-width: 1380px;
    margin-bottom: 2em;
}

.bar {
    position: fixed;
    bottom: 1.5em;
    right: 1.5em;

    .btn, .btn:focus {
        width: 2em;
        height: 2em;
        border-radius: 1em;
        background-color: var(--color-secondary);
        color: var(--color-initial);
        text-align: center;
        line-height: 2em;
        display: inline-block;
        cursor: pointer;
        text-decoration: none;
        margin-left: 0.2em;
    }

    .btn:hover {
        background-color: var(--color-quaternary);
    } 
}
